body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    background-size: cover;
    /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* Centra la imagen */
    font-family: sans-serif;
    margin: 0;
}

.nav-link {
    font-size: 16px;
    color: white;
}

.menu-nav {
    display: flex;
    justify-content: right;
    gap: 50px;
    padding: 80px;
    width: 100%;
}

header {
    display: flex;
    height: 70px;
    background-color: #316896;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    gap: 5px;
    padding: 5px;
}

.grid-item {
    height: auto;
    width: 100%;    
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 10px;
}

.grid-item img {
    margin-left: 100px;
    width: 500px;
    height: 400px;
    display: block;
}


p {
    margin-top: 70px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
}

/*Inicia estilos para tabla de formulario consultar */

table {
  background-image: url("reglas-boligrafo-y-espacio-para-copiar.jpg");
  justify-self: center;
  width: 50%;
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;

}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}